@charset "UTF-8";
/*Variables*/
@font-face {
  font-family: "kanit";
  src: url("../assets/fuentes/Kanit-Medium.ttf");
  font-family: "fuente-secundaria";
  src: url("../assets/fuentes/Montserrat-Medium.ttf");
}
/*layout home*/
.seccion-1 {
  display: grid;
  grid-template-areas: "img-portada texto iconos";
  align-items: start;
  margin-top: 13%;
}

.box-img-portada {
  display: flex;
  width: 414px;
  height: 465px;
}

.imagen-portada {
  display: flex;
  align-items: flex-end;
  margin-left: 200px;
  width: 414px;
  height: 465px;
}

.iconos {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 15%;
  transition: 0.5s;
  object-fit: cover;
}

.iconos a:hover {
  width: 100%;
  height: 100%;
  transform: scale(1.15);
}

/*textos*/
.texto-principal {
  font-family: "kanit", sans-serif;
  font-style: italic;
  margin-left: 0%;
  font-size: 50px;
  line-height: 0px;
  color: #F59860;
}

.texto-secundario {
  font-family: "feunte-secundaria", verdana, sans-serif;
  margin-left: 0%;
  line-height: 0px;
  font-size: 24px;
  color: #F59860;
}

/*Logotipos*/
.icono-linkedin {
  display: flex;
  padding-bottom: 11px;
}

.icono-behance {
  display: flex;
  padding-bottom: 11px;
}

.icono-instagram {
  display: flex;
  padding-bottom: 11px;
}

.icono-twitter {
  display: flex;
  padding-bottom: 11px;
}

.icono-telegram {
  display: flex;
  padding-bottom: 11px;
}

.seccion-2 {
  display: flex;
  flex-direction: row;
  height: 350px;
}

.seccion-2-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1B455D;
  width: 1600px;
}

.seccion-2-der {
  display: flex;
  width: 920px;
  background-image: url("../assets/imagenes/hombre-negocios-joven-decidido-mirando-otro-lado.jpg");
  background-position: center;
  background-size: cover;
}

.sm {
  font-family: "kanit", sans-serif;
  font-style: inherit;
  font-size: 30px;
  margin-left: 117px;
  color: #ffffff;
}

.texto-sm {
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 18px;
  margin-left: 117px;
  margin-right: 60px;
  margin-top: 16px;
  color: #ffffff;
}

/*tarjetas presentacion*/
.fondo-presentacion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #edf5fa;
}

.textos-presentacion {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 180px;
}

.titulo-2 {
  display: flex;
  font-family: sans-serif;
  font-style: italic;
  font-size: 36px;
  color: #1B455D;
  line-height: 0px;
}

.descripcion-2 {
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  color: #1B455D;
  margin-bottom: 50px;
  margin-right: 25%;
}

.tarjetas-presentacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 15px;
}

.curriculum {
  font-family: "Kanit", sans-serif;
  font-size: 36px;
  border-radius: 30px;
  color: #ffffff;
  background: #1B455D;
  padding: 180px 115px 180px 115px;
  text-decoration: none;
}

.experiencia {
  display: flex;
  align-self: flex-end;
  font-family: "Kanit", sans-serif;
  font-size: 36px;
  border-radius: 30px;
  color: #ffffff;
  background: #1B455D;
  padding: 180px 115px 180px 115px;
  text-decoration: none;
}

.portafolio {
  font-family: "Kanit", sans-serif;
  font-size: 36px;
  border-radius: 30px;
  color: #ffffff;
  background: #1B455D;
  padding: 180px 115px 180px 115px;
  text-decoration: none;
}

/*layout fotografia*/
/*Estilo seccion fotografia*/
.layout-fotografia {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 4, 1fr;
  gap: 15px;
  text-decoration: none;
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 118px;
  grid-template-areas: "arquitectura matrimonios" "arquitectura productos" "sesiones-urbanas sesiones-de-estudio" "call-to-action call-to-action";
}

.arquitectura {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: arquitectura;
  width: 100%;
  height: 655px;
  text-decoration: none;
  background-image: url("../assets/imagenes/arquitectura.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.matrimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: matrimonios;
  width: 100%;
  height: 320px;
  text-decoration: none;
  background-image: url("../assets/imagenes/matrimonios.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: productos;
  width: 100%;
  height: 320px;
  text-decoration: none;
  background-image: url("../assets/imagenes/productos.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.sesiones-urbanas {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sesiones-urbanas;
  width: 100%;
  height: 500px;
  text-decoration: none;
  background-image: url("../assets/imagenes/sesiones-urbanas.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.sesiones-de-estudio {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sesiones-de-estudio;
  width: 100%;
  height: 500px;
  text-decoration: none;
  background-image: url("../assets/imagenes/sesiones-estudio.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

/*estilos seccion publicidad*/
.layout-publicidad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  row-gap: 15px;
  color: #ffffff;
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 118px;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-areas: "branding" "planning" "gestion-de-campañas" "call-to-action";
}

.branding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/branding.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.planning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/planning.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.gestion-de-campañas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/gestion-campañas.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: call-to-action;
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  width: 100%;
  height: 300px;
  background-color: #F59860;
}

/* estilos seccion mkt digital*/
.layout-mkt-digital {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  row-gap: 15px;
  color: #ffffff;
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 118px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  grid-template-areas: "analisis-digital" "opt-seo" "email-mkt" "call-to-action";
}

.analisis-digital {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/analisis-digital.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.opt-seo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/opt-seo.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.email-mkt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/email-mkt.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: call-to-action;
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  width: 100%;
  height: 300px;
  background-color: #F59860;
}

/*estilo seccion desarrollo web*/
.layout-desarrollo-web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  row-gap: 15px;
  font-family: sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 118px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  grid-template-areas: "desarrollo-web" "ux-ui" "desarrollo-apps" "call-to-action";
}

.desarrollo-web {
  display: flex;
  grid-area: desarrollo-web;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/desarrollo-web.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.ux-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/diseño-ux-ui.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.desarrollo-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
  text-decoration: none;
  background-image: url("../assets/imagenes/desarrollo-apps.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

/*estilo seccion contacto*/
.container-fluid {
  background-image: url("../assets/imagenes/contacto.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 46px;
}

.box-formulario {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

.form-titulo {
  margin-right: 310px;
  margin-bottom: 25px;
  font-family: "kanit";
  font-size: 55px;
  font-style: italic;
}

.formulario {
  display: flex;
  flex-direction: column;
  font-family: "fuente-secundaria";
  font-size: 16px;
  gap: 15px;
  margin-right: 412px;
  margin-bottom: 25px;
}

.titulo-form-servicio {
  margin-right: 418px;
  margin-bottom: 25px;
  font-size: 24px;
  font-family: "fuente-secundaria";
}

.form-servicio {
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 5px;
  margin-left: 30px;
  margin-right: 460px;
}

.form-mensaje {
  display: flex;
  flex-direction: column;
  font-family: "fuente-secundaria";
  font-size: 16px;
  margin-top: 30px;
  margin-right: 310px;
  gap: 5px;
}

.email {
  display: flex;
  margin-top: 23px;
}

/*Estilos paginas base*/
* {
  margin: 50;
  padding: 0;
}

a:hover {
  color: #F59860;
}

/*barra de navegacion*/
.estilo-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  list-style-type: none;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}

.estilo-links-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 35px;
  margin-top: 12px;
  margin-bottom: 50px;
}

.home {
  margin-left: 0px;
  font-family: "variacion", sans-serif;
  color: #1B455D;
  text-decoration: none;
  font-size: 30px;
}

.Fotografia {
  font-family: "fuente-secundaria", verdana, sans-serif;
  margin-left: 15%;
  color: #1B455D;
  text-decoration: none;
  font-size: 20px;
}

.Publicidad {
  margin-left: 30px;
  font-family: "fuente-secundaria", Verdana, sans-serif;
  color: #1B455D;
  text-decoration: none;
  font-size: 20px;
}

.Marketing-digital {
  margin-left: 30px;
  font-family: "fuente-secundaria", Verdana, sans-serif;
  color: #1B455D;
  text-decoration: none;
  font-size: 20px;
}

.Desarrollo-web {
  margin-left: 30px;
  margin-right: 30px;
  font-family: "fuente-secundaria", Verdana, sans-serif;
  color: #1B455D;
  text-decoration: none;
  font-size: 20px;
}

.boton-contacto {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-family: "fuente-secundaria", Verdana, sans-serif;
  border-radius: 28px;
  font-size: 20px;
  background-color: #1B455D;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #ffffff;
}

/*footer*/
.footer a {
  margin-bottom: 5px;
  color: #1B455D;
  text-decoration: none;
}

a:hover {
  color: #F59860;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #1B455D;
  text-decoration: none;
}

.box-contacto {
  font-family: "kanit", sans-serif;
  font-size: 24px;
  line-height: 50px;
}

.email {
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 20px;
  line-height: 0%;
}

.box-servicios {
  font-family: "kanit", sans-serif;
  font-size: 24px;
  line-height: 50px;
}

.enlaces-servicios {
  display: flex;
  flex-direction: column;
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.box-redes-sociales {
  font-family: "kanit", sans-serif;
  font-size: 24px;
  line-height: 50px;
}

.enlaces-redes-sociales {
  display: flex;
  flex-direction: column;
  font-family: "fuente-secundaria", verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

/*media queries*/
/*diseño responsive moviles*/
@media only screen and (max-width: 767px) {
  .estilo-links {
    display: none;
  }
  .estilo-links-contacto {
    display: none;
  }
  /*menu hamburguesa*/
  .header {
    background-color: #ffffff;
    position: sticky;
    top: 6px;
    width: 100%;
  }
  .logo {
    display: inline-block;
    color: #1B455D;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-size: 60px;
    margin-left: 25px;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    text-decoration: none;
    list-style-type: none;
  }
  .menu {
    list-style-type: none;
  }
  .menu a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 25px;
    padding: 15px;
    color: #1B455D;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  .menu a:hover {
    background-color: #edf5fa;
    text-decoration: none;
    list-style-type: none;
  }
  .hamb {
    cursor: pointer;
    float: right;
    padding: 40px 40px;
  }
  .hamb-line {
    background: #1B455D;
    display: block;
    height: 8px;
    position: relative;
    width: 48px;
  }
  .hamb-line::before,
  .hamb-line::after {
    background: #1B455D;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 18px;
  }
  .hamb-line::after {
    top: -18px;
  }
  .side-menu {
    display: none;
  }
  .side-menu:checked ~ nav {
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: #ffffff;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  /* header */
  .iconos {
    display: none;
  }
  .seccion-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin-top: 5%;
    margin-bottom: 20%;
    grid-template-areas: "texto-principal" "texto-secundario" "imagen-portada";
  }
  /*textos*/
  .texto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    grid-area: texto-principal;
    font-size: 36px;
    font-style: italic;
    line-height: 12px;
    color: #F59860;
    font-family: "fuente-principal", sans-serif;
  }
  .texto-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    grid-area: texto-secundario;
    line-height: 0px;
    font-size: 20px;
    color: #F59860;
  }
  .box-img-portada {
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 257px;
    height: 282px;
  }
  .imagen-portada {
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 257px;
    height: 282px;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .textos-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }
  .titulo-2 {
    display: flex;
    font-family: sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1B455D;
    line-height: 50px;
  }
  .descripcion-2 {
    display: flex;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    color: #1B455D;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  .tarjetas-presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "curriculum" "experiencia" "portafolio";
  }
  .curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 115px 130px 115px;
    text-decoration: none;
  }
  .experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 105px 130px 105px;
    text-decoration: none;
  }
  .portafolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 115px 130px 115px;
    text-decoration: none;
  }
  .seccion-2 {
    display: flex;
    flex-direction: column;
    height: 750px;
    gap: 0px;
  }
  .seccion-2-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B455D;
    width: 100%;
  }
  .seccion-2-der {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../assets/imagenes/hombre-negocios-joven-decidido-mirando-otro-lado.jpg");
    background-position: center;
    background-size: cover;
  }
  .sm {
    font-family: "variacion", verdana, sans-serif;
    font-style: inherit;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 35px;
    color: #ffffff;
  }
  .texto-sm {
    font-family: "variacion", verdana, sans-serif;
    font-size: 18px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 16px;
    margin-bottom: 50px;
    color: #ffffff;
  }
  .layout-fotografia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    row-gap: 10px;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    margin-top: 120px;
    margin-bottom: 10px;
    grid-template-areas: "arquitectura" "matrimonios" "productos" "sesiones-urbanas" "sesiones-de-estudio" "call-to-action";
  }
  .arquitectura {
    display: flex;
    grid-area: arquitectura;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .matrimonios {
    display: flex;
    grid-area: matrimonios;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .productos {
    display: flex;
    grid-area: productos;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .sesiones-urbanas {
    display: flex;
    grid-area: sesiones-urbanas;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
  }
  .sesiones-de-estudio {
    display: flex;
    grid-area: sesiones-de-estudio;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
  }
  .layout-publicidad {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 10px;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    margin-top: 120px;
    margin-bottom: 10px;
    grid-template-areas: "branding" "planning" "gestion-de-campañas" "call-to-action";
  }
  .branding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets/imagenes/branding.jpg");
    background-size: cover;
  }
  .planning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets/imagenes/planning.jpg");
    background-size: cover;
  }
  .gestion-de-campañas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets/imagenes/gestion-campañas.jpg");
    background-size: cover;
  }
  .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: call-to-action;
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
    width: 100%;
    height: 150px;
    background-color: #F59860;
  }
  /*estilo seccion contacto movil*/
  .container-fluid {
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
  }
  .box-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
  }
  .form-titulo {
    display: flex;
    margin-bottom: 5px;
    font-family: "kanit";
    font-size: 55px;
    font-style: italic;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    gap: 0px;
    margin-bottom: 25px;
  }
  .titulo-form-servicio {
    display: flex;
    margin-bottom: 25px;
    margin-right: 515px;
    font-size: 24px;
    font-family: "fuente-secundaria";
  }
  .form-servicio {
    display: flex;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 5px;
    margin-left: 80px;
  }
  .form-mensaje {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    margin-top: 30px;
    gap: 5px;
  }
  .email {
    display: flex;
    margin-top: 23px;
  }
  /*estilo footer movil*/
  .footer {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #1B455D;
    text-decoration: none;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 35px;
    padding-top: 15px;
    text-decoration: none;
  }
  .box-contacto {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
  }
  .email {
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    line-height: 0%;
  }
  .box-servicios {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
  }
  .enlaces-servicios {
    display: flex;
    flex-direction: column;
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  .box-redes-sociales {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
  }
  .enlaces-redes-sociales {
    display: flex;
    flex-direction: column;
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
}
/*diseño responsive tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .estilo-links {
    display: none;
  }
  .estilo-links-contacto {
    display: none;
  }
  /*menu hamburguesa*/
  .header {
    background-color: #ffffff;
    position: sticky;
    top: 6px;
    width: 100%;
  }
  .logo {
    display: inline-block;
    color: #1B455D;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-size: 60px;
    margin-left: 25px;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
  .menu {
    list-style-type: none;
  }
  .menu a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 25px;
    padding: 15px;
    color: #1B455D;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  .menu a:hover {
    background-color: #edf5fa;
  }
  .hamb {
    cursor: pointer;
    float: right;
    padding: 40px 40px;
  }
  .hamb-line {
    background: #1B455D;
    display: block;
    height: 8px;
    position: relative;
    width: 48px;
  }
  .hamb-line::before,
  .hamb-line::after {
    background: #1B455D;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 18px;
  }
  .hamb-line::after {
    top: -18px;
  }
  .side-menu {
    display: none;
  }
  .side-menu:checked ~ nav {
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: #ffffff;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  /* header */
  .iconos {
    display: none;
  }
  .seccion-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin-top: 5%;
    grid-template-areas: "texto-principal" "texto-secundario" "imagen-portada";
  }
  .texto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    grid-area: texto-principal;
    font-size: 48px;
    font-style: italic;
    line-height: 13px;
    color: #F59860;
    font-family: "fuente-principal", sans-serif;
  }
  .texto-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-bottom: 20%;
    grid-area: texto-secundario;
    line-height: 0px;
    font-size: 24px;
    color: #F59860;
  }
  .box-img-portada {
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
  }
  .imagen-portada {
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
    margin-left: 0%;
  }
  .textos-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }
  .titulo-2 {
    display: flex;
    font-family: sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1B455D;
    line-height: 50px;
  }
  .descripcion-2 {
    display: flex;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    color: #1B455D;
    margin-right: 20px;
  }
  .tarjetas-presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "curriculum" "experiencia" "portafolio";
  }
  .curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 115px 130px 115px;
    text-decoration: none;
  }
  .experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 105px 130px 105px;
    text-decoration: none;
  }
  .portafolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 130px 115px 130px 115px;
    text-decoration: none;
  }
  .seccion-2 {
    display: flex;
    flex-direction: row;
    height: 750px;
    gap: 0px;
  }
  .sm {
    font-family: "variacion", verdana, sans-serif;
    font-style: inherit;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 35px;
    color: #ffffff;
  }
  .texto-sm {
    font-family: "variacion", verdana, sans-serif;
    font-size: 18px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 16px;
    margin-bottom: 50px;
    color: #ffffff;
  }
  /*estilo seccion contacto tablets*/
  .container-fluid {
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
  }
  .box-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
  }
  .form-titulo {
    display: flex;
    margin-bottom: 5px;
    font-family: "kanit";
    font-size: 55px;
    font-style: italic;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    gap: 0px;
    margin-bottom: 25px;
  }
  .titulo-form-servicio {
    display: flex;
    margin-bottom: 25px;
    margin-right: 515px;
    font-size: 24px;
    font-family: "fuente-secundaria";
  }
  .form-servicio {
    display: flex;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 5px;
    margin-left: 80px;
  }
  .form-mensaje {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    margin-top: 30px;
    gap: 5px;
  }
  .email {
    display: flex;
    margin-top: 23px;
  }
  /*estilo seccion contacto*/
  .container-fluid {
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
  }
  .box-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
  }
  .form-titulo {
    display: flex;
    margin-bottom: 5px;
    font-family: "kanit";
    font-size: 55px;
    font-style: italic;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    gap: 0px;
    margin-bottom: 25px;
  }
  .titulo-form-servicio {
    display: flex;
    margin-bottom: 25px;
    margin-right: 515px;
    font-size: 24px;
    font-family: "fuente-secundaria";
  }
  .form-servicio {
    display: flex;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 5px;
    margin-left: 80px;
  }
  .form-mensaje {
    display: flex;
    flex-direction: column;
    font-family: "fuente-secundaria";
    font-size: 16px;
    margin-top: 30px;
    gap: 5px;
  }
  .email {
    display: flex;
    margin-top: 23px;
  }
  /*footer tablets*/
  .footer {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #1B455D;
    text-decoration: none;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-top: 15px;
    text-decoration: none;
  }
  .box-contacto {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-right: 0%;
  }
  .email {
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    line-height: 0%;
  }
  .box-servicios {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-right: 0%;
  }
  .enlaces-servicios {
    display: flex;
    flex-direction: column;
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  .box-redes-sociales {
    font-family: "variacion", verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
  }
  .enlaces-redes-sociales {
    display: flex;
    flex-direction: column;
    font-family: "variacion", verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
}
/* diseño responsive */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .estilo-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  .header {
    display: none;
  }
  .seccion-1 {
    display: grid;
    grid-template-areas: "img-portada texto iconos";
    align-items: start;
    margin-top: 13%;
  }
  .box-img-portada {
    display: flex;
    width: 414px;
    height: 465px;
  }
  .imagen-portada {
    display: flex;
    align-items: flex-end;
    margin-left: 25%;
    width: 414px;
    height: 465px;
  }
  .iconos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15%;
  }
  .texto-principal {
    font-family: "kanit", sans-serif;
    font-style: italic;
    margin-left: 0%;
    font-size: 50px;
    line-height: 0px;
    color: #F59860;
  }
  .texto-secundario {
    font-family: "feunte-secundaria", verdana, sans-serif;
    margin-left: 0%;
    line-height: 0px;
    font-size: 24px;
    color: #F59860;
  }
  /*Logotipos*/
  .icono-linkedin {
    display: flex;
    padding-bottom: 11px;
  }
  .icono-behance {
    display: flex;
    padding-bottom: 11px;
  }
  .icono-instagram {
    display: flex;
    padding-bottom: 11px;
  }
  .icono-twitter {
    display: flex;
    padding-bottom: 11px;
  }
  .icono-telegram {
    display: flex;
    padding-bottom: 11px;
  }
  .seccion-2 {
    display: flex;
    flex-direction: row;
    height: 350px;
  }
  .seccion-2-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B455D;
    width: 1600px;
  }
  .seccion-2-der {
    display: flex;
    width: 920px;
    background-image: url("../assets/imagenes/hombre-negocios-joven-decidido-mirando-otro-lado.jpg");
    background-position: center;
    background-size: cover;
  }
  .sm {
    font-family: "kanit", sans-serif;
    font-style: inherit;
    font-size: 30px;
    margin-left: 117px;
    color: #ffffff;
  }
  .texto-sm {
    font-family: "fuente-secundaria", verdana, sans-serif;
    font-size: 18px;
    margin-left: 117px;
    margin-right: 60px;
    margin-top: 16px;
    color: #ffffff;
  }
  /*tarjetas presentacion*/
  .fondo-presentacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #edf5fa;
  }
  .textos-presentacion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 180px;
  }
  .titulo-2 {
    display: flex;
    font-family: sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1B455D;
    line-height: 0px;
  }
  .descripcion-2 {
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    color: #1B455D;
    margin-bottom: 50px;
    margin-right: 25%;
  }
  .tarjetas-presentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 15px;
  }
  .curriculum {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 105px 72px 105px 72px;
    text-decoration: none;
  }
  .experiencia {
    display: flex;
    align-self: flex-end;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 105px 72px 105px 72px;
    text-decoration: none;
  }
  .portafolio {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 105px 72px 105px 72px;
    text-decoration: none;
  }
}
@media screen and (min-width: 1201px) {
  .estilo-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  .header {
    display: none;
  }
  .curriculum {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
  }
  .experiencia {
    display: flex;
    align-self: flex-end;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
  }
  .portafolio {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
  }
  .tarjetas-presentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 15px;
  }
  .curriculum {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 100px 180px 100px;
    text-decoration: none;
  }
  .experiencia {
    display: flex;
    align-self: flex-end;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 100px 180px 100px;
    text-decoration: none;
  }
  .portafolio {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: #1B455D;
    padding: 180px 100px 180px 100px;
    text-decoration: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
