$fuente-principal: Verdana, sans-serif;
$fuente-secundaria: sans-serif;
@font-face {
    font-family: 'kanit';
    src: url('../assets/fuentes/Kanit-Medium.ttf');
    font-family: 'feunte-secundaria';
    src: url('../assets/fuentes/Montserrat-Medium.ttf');
}