/*estilo seccion contacto*/
.container-fluid{
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
}
.box-formulario{
    padding-top: 75px;
    padding-bottom: 75px;
    color: $color-fondo;
}
.form-titulo{
    margin-right: 310px;
    margin-bottom: 25px;
    font-family: 'kanit';
    font-size: 55px;
    font-style: italic;
}
.form-control{
    font-family: 'fuente-secundaria';
    font-size: 16px;
    margin-bottom: 25px;
    row-gap: 15px;
}
.titulo-form-servicio{
    margin-bottom: 25px;
    font-size: 28px;
    font-family: 'fuente-secundaria'
}
.form-servicio{
    display: flex;
}
.input-label{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 5px;
}
.form-mensaje{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria';
    font-size: 16px;
    margin-top: 30px;
    gap: 5px;
}
.email{
    display: flex;
    margin-top: 23px;
}
.btn-enviar{
    background-color: $color-primario;
    color: $color-fondo;
}
.btn-borrar{
    background-color: $color-secundario;
    color: $color-fondo;
}