/*estilo seccion contacto*/
.container-fluid{
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
}
.box-formulario{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    color: $color-fondo;
}
.form-titulo{
    margin-right: 310px;
    margin-bottom: 25px;
    font-family: 'kanit';
    font-size: 55px;
    font-style: italic;
}
.formulario{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria';
    font-size: 16px;
    gap: 15px;
    margin-right: 412px;
    margin-bottom: 25px;
}
.titulo-form-servicio{
    margin-right: 418px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'fuente-secundaria'
}
.form-servicio{
    display: flex;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
    margin-left: 30px;
    margin-right: 460px;
}
.form-mensaje{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria';
    font-size: 16px;
    margin-top: 30px;
    margin-right: 310px;
    gap: 5px;
}
.email{
    display: flex;
    margin-top: 23px;
}