/*Variables*/
@import "colores";
@import "fuentes";

/*Estilo index*/
/*Selector de tipo reset o universal*/
*{
    margin: 50;
    padding: 0;
}
a:hover{
    color: $color-secundario;
}

/*barra de navegacion*/
.estilo-links{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    }
.estilo-links-contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 35px;
    margin-top: 12px;
    margin-bottom: 50px;
}
.navbar{
    display: none;
}
.nav-movil{
    display: none;
}
.home{ 
    margin-left: 0px;
    font-family: 'variacion', sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 30px;
}
.Fotografia{
    font-family: 'fuente-secundaria', verdana, sans-serif;
    margin-left: 15%;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
    
}
.Publicidad{
    margin-left: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.Marketing-digital{
    margin-left: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.Desarrollo-web{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.boton-contacto {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    border-radius: 28px;
    font-size: 20px;
    background-color: $color-secundario;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

.seccion-1{
    display: grid;
    grid-template-areas:
    "img-portada texto iconos";
    align-items: start;
    margin-top: 15%;
    margin-bottom: 5%;
}
.img-portada{
    display: flex;
    align-items: center;
    
}
.iconos{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 100px;
}

/*textos*/
.texto-principal{
    font-family: 'kanit', sans-serif;
    font-style: italic;
    margin-left: 25%;
    font-size: 50px;
    line-height: 0px;
    color: #F59860;
}

.texto-secundario{
    font-family: 'feunte-secundaria', verdana, sans-serif;
    margin-left: 25%;
    line-height: 0px;
    font-size: 24px;
    color:#F59860;
    
}

/*Logotipos*/
.icono-linkedin{
    display: flex;
    padding-bottom: 11px;
}
.icono-behance{
    display: flex;
    padding-bottom: 11px;
}
.icono-instagram{
    display: flex;
    padding-bottom: 11px;
}
.icono-twitter{
    display: flex;
    padding-bottom: 11px;
}
.icono-telegram{
    display: flex;
    padding-bottom: 11px;
}

.seccion-2{
    display: flex;
    flex-direction: row;
    height: 350px;

}
.seccion-2-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primario;
    width: 1600px;
}
.seccion-2-der{
    display: flex;
    width: 920px;
    background-image: url("../assets/imagenes/DSC_0335.jpg");
    background-position: center;
    background-size: cover;
}
.sm{
    font-family: 'kanit', sans-serif;
    font-style: inherit;
    font-size: 36px;
    margin-left: 117px;
    color: #ffffff;
}
.texto-sm{
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    margin-left: 117px;
    margin-right: 60px;
    margin-top: 16px;
    color: #ffffff;
}

/*tarjetas presentacion*/
.fondo-presentacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #edf5fa;
}
.textos-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 117px;
}
.titulo-2{
    display: flex;
    font-family: $fuente-secundaria;
    font-style: italic;
    font-size: 46px;
    color: $color-primario;
    line-height: 0px;
}
.descripcion-2{
    display: flex;
    font-family: $fuente-secundaria;
    font-size: 24px;
    color: $color-primario;
    line-height: 0px;
    margin-bottom: 50px;
}
.tarjetas-presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 15px;
}
.curriculum{
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: $color-primario;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
}
.experiencia{
    display: flex;
    align-self: flex-end;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: $color-primario;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
}
.portafolio{
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    border-radius: 30px;
    color: #ffffff;
    background: $color-primario;
    padding: 180px 115px 180px 115px;
    text-decoration: none;
}

/*Estilo seccion fotografia*/
.layout-fotografia{
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 4, 1fr;
    gap: 15px;
    text-decoration: none;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 118px;
    grid-template-areas: 
    "arquitectura matrimonios"
    "arquitectura productos"
    "sesiones-urbanas sesiones-de-estudio"
    "call-to-action call-to-action";
}
.arquitectura{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: arquitectura;
    width: 100%;
    height: 655px;
    text-decoration: none;
    background-image: url("../assets/imagenes/arquitectura.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.matrimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: matrimonios;
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-image: url("../assets/imagenes/matrimonios.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: productos;
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-image: url("../assets/imagenes/productos.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.sesiones-urbanas{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sesiones-urbanas;
    width: 100%;
    height: 500px;
    text-decoration: none;
    background-image: url("../assets/imagenes/sesiones-urbanas.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.sesiones-de-estudio{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sesiones-de-estudio;
    width: 100%;
    height: 500px;
    text-decoration: none;
    background-image: url("../assets/imagenes/sesiones-estudio.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}

/*estilos seccion publicidad*/
.layout-publicidad{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 15px;
    color: #ffffff;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-top: 118px;
    margin-left: 25px;
    margin-right: 25px;
    grid-template-areas:
    "branding"
    "planning"
    "gestion-de-campañas"
    "call-to-action";
}
.branding{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/branding.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.planning{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/planning.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.gestion-de-campañas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/gestion-campañas.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: call-to-action;
    color: #ffffff;
    font-size: 24px;
    font-style: italic;
    width: 100%;
    height: 300px;
    background-color: #F59860;
}

/* estilos seccion mkt digital*/
.layout-mkt-digital{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 15px;
    color: #ffffff;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-top: 118px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    grid-template-areas:
    "analisis-digital"
    "opt-seo"
    "email-mkt"
    "call-to-action";
}
.analisis-digital{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/analisis-digital.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.opt-seo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/opt-seo.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.email-mkt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/email-mkt.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: call-to-action;
    color: #ffffff;
    font-size: 24px;
    font-style: italic;
    width: 100%;
    height: 300px;
    background-color: #F59860;
}

/*estilo seccion desarrollo web*/
.layout-desarrollo-web{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 15px;
    font-family: $fuente-secundaria;
    font-size: 24px;
    font-style: italic;
    margin-top: 118px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    grid-template-areas: "desarrollo-web" "ux-ui" "desarrollo-apps" "call-to-action";
}
.desarrollo-web{
    display:flex;
    grid-area: desarrollo-web;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/desarrollo-web.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.ux-ui{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/diseño-ux-ui.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}
.desarrollo-apps{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 490px;
    text-decoration: none;
    background-image: url("../assets/imagenes/desarrollo-apps.jpg");
    background-position: center;
    background-size: cover;
    color: $color-fondo;
}

/*estilo seccion contacto*/
.container-fluid{
    background-image: url("../assets/imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 46px;
}
.box-formulario{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    color: $color-fondo;
}
.form-titulo{
    margin-right: 310px;
    margin-bottom: 25px;
    font-family: 'kanit';
    font-size: 55px;
    font-style: italic;
}
.formulario{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria';
    font-size: 16px;
    gap: 15px;
    margin-right: 412px;
    margin-bottom: 25px;
}
.titulo-form-servicio{
    margin-right: 418px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'fuente-secundaria'
}
.form-servicio{
    display: flex;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
    margin-left: 30px;
    margin-right: 460px;
}
.form-mensaje{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria';
    font-size: 16px;
    margin-top: 30px;
    margin-right: 310px;
    gap: 5px;
}
.email{
    display: flex;
    margin-top: 23px;
}

/*footer*/
.footer a{
    margin-bottom: 5px;
    color: $color-primario;
    text-decoration: none;
}
a:hover{
    color: $color-secundario;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $color-primario;
    text-decoration: none;
}
.box-contacto{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.email{
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    line-height: 0%;
}
.box-servicios{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.enlaces-servicios{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.box-redes-sociales{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.enlaces-redes-sociales{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/*diseño responsive moviles*/
@media only screen and (max-width:767px){
    .estilo-links{
        display: none;
    }
    .nav-movil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 75px;
        margin-left: 25px;
        margin-right: 25px;
    }

    /* header */
    .seccion-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin-top: 15%;
        margin-bottom: 50%;
        grid-template-areas:
        "texto-principal"
        "texto-secundario"
        "img-portada";  
    }
    .img-portada{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-portada;
    }
    .iconos{
        display: none;
    }
    /*textos*/
    .texto-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        grid-area: texto-principal;
        font-size: 36px;
        font-style: italic;
        line-height: 12px;
        color: #F59860;
        font-family: "fuente-principal", sans-serif;
    }
    .texto-secundario{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 15%;
        grid-area: texto-secundario;
        line-height: 0px;
        font-size: 20px;
        color:#F59860;
    }

    .tarjetas-presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "curriculum"
        "experiencia"
        "portafolio";
    }
    .curriculum{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }
    .experiencia{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 105px 130px 105px;
        text-decoration: none;
    }
    .portafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }

    .seccion-2{
        width: 100%; 
        height: 450px;
        background-color: #1B455D;
        padding-top: 10px;
    }
    .sm{
        font-family: 'variacion', verdana, sans-serif;
        font-style: inherit;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 35px;
        color: #ffffff;
    }
    .texto-sm{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 18px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 16px;
        color: #ffffff;
    }

    .layout-publicidad{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 10px;
        color: #ffffff;
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        margin-bottom: 10px;
        grid-template-areas:
        "branding"
        "planning"
        "gestion-de-campañas"
        "call-to-action";
    }
    .branding{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-image: url("../assets/imagenes/branding.jpg");
        background-size: cover;
    }
    .planning{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-image: url("../assets/imagenes/planning.jpg");
        background-size: cover;
    }
    .gestion-de-campañas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-image: url("../assets/imagenes/gestion-campañas.jpg");
        background-size: cover;
    }
    .call-to-action{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: call-to-action;
        color: #ffffff;
        font-size: 16px;
        font-style: italic;
        width: 100%;
        height: 150px;
        background-color: #F59860;
    }

    .footer{
        margin-top: 20px;
        margin-bottom: 40px;
        color: #1B455D;
        text-decoration: none;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 35px;
        padding-top: 15px;
        text-decoration: none;
    }
    
    .box-contacto{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    
    .email{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        line-height: 0%;
    }
    .box-servicios{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-servicios{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    .box-redes-sociales{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-redes-sociales{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
}

/*diseño responsive tablets*/
@media screen and (min-width:768px) and (max-width:1023px){
    .estilo-links{
        display: none;
    }
    .nav-movil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 75px;
        margin-left: 25px;
        margin-right: 25px;
            }

    /* header */
    .seccion-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin-top: 15%;
        margin-bottom: 50%;
        grid-template-areas:
        "texto-principal"
        "texto-secundario"
        "img-portada";  
    }
    .img-portada{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-portada;
    }
    .iconos{
        display: none;
    }
    /*textos*/
    .texto-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        grid-area: texto-principal;
        font-size: 48px;
        font-style: italic;
        line-height: 13px;
        color: #F59860;
        font-family: "fuente-principal", sans-serif;
    }
    .texto-secundario{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 15%;
        grid-area: texto-secundario;
        line-height: 0px;
        font-size: 24px;
        color:#F59860;
    }

    .tarjetas-presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "curriculum"
        "experiencia"
        "portafolio";
    }
    .curriculum{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }
    .experiencia{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 105px 130px 105px;
        text-decoration: none;
    }
    .portafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: #ffffff;
        background: #F59860;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }

    .seccion-2{
        width: 100%; 
        height: 350px;
        background-color: #1B455D;
        padding-top: 10px;
    }
    .sm{
        font-family: 'variacion', verdana, sans-serif;
        font-style: inherit;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 35px;
        color: #ffffff;
    }
    .texto-sm{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 16px;
        color: #ffffff;
    }
    .footer{
        margin-top: 20px;
        margin-bottom: 50px;
        color: #1B455D;
        text-decoration: none;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0px;
        padding-top: 15px;
        text-decoration: none;
    }
    
    .box-contacto{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
        margin-right: 0%;
    }
    
    .email{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        line-height: 0%;
    }
    .box-servicios{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
        margin-right: 0%;
    }
    .enlaces-servicios{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    .box-redes-sociales{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-redes-sociales{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
}

/* diseño responsive */
@media screen and (min-width:1024px){
    .estilo-links{
        display: flex;
        flex-wrap: nowrap;   
        flex-direction: row;
        align-items: center;
    }
}
