/*Variables*/
@import "colores";
@import "fuentes";
@import "layout-home";
@import "layout-fotografia";
@import "layout-publicidad";
@import "layout-marketing-digital";
@import "layout-desarrollo-web";
@import "layout-contacto";

/*Estilos paginas base*/
*{
    margin: 50;
    padding: 0;
}
a:hover{
    color: $color-secundario;
}

/*barra de navegacion*/
.estilo-links{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    }
.estilo-links-contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 35px;
    margin-top: 12px;
    margin-bottom: 50px;
}
.navbar{
    display: none;
}
.nav-movil{
    display: none;
}
.home{ 
    margin-left: 0px;
    font-family: 'variacion', sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 30px;
}
.Fotografia{
    font-family: 'fuente-secundaria', verdana, sans-serif;
    margin-left: 15%;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
    
}
.Publicidad{
    margin-left: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.Marketing-digital{
    margin-left: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.Desarrollo-web{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    color: #1B455D;
    text-decoration: none;
    font-size: 20px;
}
.boton-contacto {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    font-family: 'fuente-secundaria', Verdana, sans-serif;
    border-radius: 28px;
    font-size: 20px;
    background-color: $color-secundario;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

/*footer*/
.footer a{
    margin-bottom: 5px;
    color: $color-primario;
    text-decoration: none;
}
a:hover{
    color: $color-secundario;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $color-primario;
    text-decoration: none;
}
.box-contacto{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.email{
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    line-height: 0%;
}
.box-servicios{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.enlaces-servicios{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.box-redes-sociales{
    font-family: 'kanit', sans-serif;
    font-size: 24px;
    line-height: 50px;
}
.enlaces-redes-sociales{
    display: flex;
    flex-direction: column;
    font-family: 'fuente-secundaria', verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/*media queries*/
/*diseño responsive moviles*/
@media only screen and (max-width:767px){
    .estilo-links{
        display: none;
    }
    .estilo-links-contacto{
        display: none;
    }

    /*menu hamburguesa*/
    .header{
        background-color: $color-fondo;
        position: sticky;
        top: 6px;
        width: 100%;
    }
    .logo{
        display: inline-block;
        color: $color-primario;
        font-family: $fuente-principal;
        text-decoration: none;
        font-size: 60px;
        margin-left: 25px;
    }
    .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $color-fondo;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s ease-out;
        text-decoration: none;
    }
    .menu a{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 25px;
        padding: 15px;
        color: $color-primario;
        font-family: $fuente-secundaria;
        text-decoration: none;
    }
    .menu a:hover{
        background-color: $background;
    }
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 40px;
    }   
    .hamb-line {
        background: $color-primario;
        display: block;
        height: 8px;
        position: relative;
        width: 48px;
    }
    .hamb-line::before,
    .hamb-line::after{
        background: $color-primario;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 18px;
    }
    .hamb-line::after{
        top: -18px;
    }
    .side-menu {
        display: none;
    }
    .side-menu:checked ~ nav{
        max-height: 100%;
    }
    .side-menu:checked ~ .hamb .hamb-line {
        background: $color-fondo;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }


    /* header */
    .seccion-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin-top: 15%;
        margin-bottom: 50%;
        grid-template-areas:
        "texto-principal"
        "texto-secundario"
        "img-portada";  
    }
    .img-portada{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-portada;
    }
    .iconos{
        display: none;
    }
    /*textos*/
    .texto-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        grid-area: texto-principal;
        font-size: 36px;
        font-style: italic;
        line-height: 12px;
        color: #F59860;
        font-family: "fuente-principal", sans-serif;
    }
    .texto-secundario{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 15%;
        grid-area: texto-secundario;
        line-height: 0px;
        font-size: 20px;
        color:#F59860;
    }

    .textos-presentacion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    .titulo-2{
        display: flex;
        font-family: $fuente-secundaria;
        font-style: italic;
        font-size: 36px;
        color: $color-primario;
        line-height: 50px;
    
    }
    .descripcion-2{
        display: flex;
        text-align: justify;
        font-family: $fuente-secundaria;
        font-size: 20px;
        color: $color-primario;
        margin-bottom: 50px;
        margin-right: 20px;
    }
    .tarjetas-presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "curriculum"
        "experiencia"
        "portafolio";
    }
    .curriculum{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }
    .experiencia{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 105px 130px 105px;
        text-decoration: none;
    }
    .portafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }

    .seccion-2{
        display: flex;
        flex-direction: column;
        height: 750px;
        gap: 0px;
    
    }
    .seccion-2-izq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-primario;
        width: 100%;
    }
    .seccion-2-der{
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url("../assets/imagenes/DSC_0335.jpg");
        background-position: center;
        background-size: cover;
    }
    .sm{
        font-family: 'variacion', verdana, sans-serif;
        font-style: inherit;
        font-size: 24px;
        margin-top: 50px;
        margin-left: 35px;
        color: $color-fondo;
    }
    .texto-sm{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 18px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 16px;
        margin-bottom: 50px;
        color: $color-fondo;
    }

    .layout-fotografia{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        row-gap: 10px;
        color: $color-fondo;
        font-size: 20px;
        font-style: italic;
        margin-top: 120px;
        margin-bottom: 10px;
        grid-template-areas:
        "arquitectura"
        "matrimonios"
        "productos"
        "sesiones-urbanas"
        "sesiones-de-estudio"
        "call-to-action";
    }
    .arquitectura{
        display: flex;
        grid-area: arquitectura;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    .matrimonios{
        display: flex;
        grid-area: matrimonios;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    .productos{
        display: flex;
        grid-area: productos;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    .sesiones-urbanas{
        display: flex;
        grid-area: sesiones-urbanas;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: cover;
    }
    .sesiones-de-estudio{
        display: flex;
        grid-area: sesiones-de-estudio;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: cover;
    }
    .layout-publicidad{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 10px;
        color: $color-fondo;
        font-size: 20px;
        font-style: italic;
        margin-top: 120px;
        margin-bottom: 10px;
        grid-template-areas:
        "branding"
        "planning"
        "gestion-de-campañas"
        "call-to-action";
    }
    .branding{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-image: url("../assets/imagenes/branding.jpg");
        background-size: cover;
    }
    .planning{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-image: url("../assets/imagenes/planning.jpg");
        background-size: cover;
    }
    .gestion-de-campañas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-image: url("../assets/imagenes/gestion-campañas.jpg");
        background-size: cover;
    }
    .call-to-action{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: call-to-action;
        color: $color-fondo;
        font-size: 16px;
        font-style: italic;
        width: 100%;
        height: 150px;
        background-color: #F59860;
    }

    .footer{
        margin-top: 20px;
        margin-bottom: 40px;
        color: #1B455D;
        text-decoration: none;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 35px;
        padding-top: 15px;
        text-decoration: none;
    }
    
    .box-contacto{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    
    .email{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        line-height: 0%;
    }
    .box-servicios{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-servicios{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    .box-redes-sociales{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-redes-sociales{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
}

/*diseño responsive tablets*/
@media screen and (min-width:768px) and (max-width:1023px){
    .estilo-links{
        display: none;
    }

    /*menu hamburguesa*/
    .header{
        background-color: $color-fondo;
        position: sticky;
        top: 6px;
        width: 100%;
    }
    .logo{
        display: inline-block;
        color: $color-primario;
        font-family: $fuente-principal;
        text-decoration: none;
        font-size: 60px;
        margin-left: 25px;
    }
    .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $color-fondo;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s ease-out;
    }
    .menu a{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 25px;
        padding: 15px;
        color: $color-primario;
        font-family: $fuente-secundaria;
        text-decoration: none;
    }
    .menu a:hover{
        background-color: $background;
    }
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 40px;
    }   
    .hamb-line {
        background: $color-primario;
        display: block;
        height: 8px;
        position: relative;
        width: 48px;
    }
    .hamb-line::before,
    .hamb-line::after{
        background: $color-primario;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 18px;
    }
    .hamb-line::after{
        top: -18px;
    }
    .side-menu {
        display: none;
    }
    .side-menu:checked ~ nav{
        max-height: 100%;
    }
    .side-menu:checked ~ .hamb .hamb-line {
        background: $color-fondo;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    /* header */
    .seccion-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin-top: 15%;
        margin-bottom: 50%;
        grid-template-areas:
        "texto-principal"
        "texto-secundario"
        "img-portada";  
    }
    .img-portada{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-portada;
    }
    .iconos{
        display: none;
    }
    /*textos*/
    .texto-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        grid-area: texto-principal;
        font-size: 48px;
        font-style: italic;
        line-height: 13px;
        color: #F59860;
        font-family: "fuente-principal", sans-serif;
    }
    .texto-secundario{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 15%;
        grid-area: texto-secundario;
        line-height: 0px;
        font-size: 24px;
        color:#F59860;
    }

    .textos-presentacion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    .titulo-2{
        display: flex;
        font-family: $fuente-secundaria;
        font-style: italic;
        font-size: 36px;
        color: $color-primario;
        line-height: 50px;
    
    }
    .descripcion-2{
        display: flex;
        text-align: justify;
        font-family: $fuente-secundaria;
        font-size: 20px;
        color: $color-primario;
        margin-bottom: 50px;
        margin-right: 20px;
    }
    .tarjetas-presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "curriculum"
        "experiencia"
        "portafolio";
    }
    .curriculum{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }
    .experiencia{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 105px 130px 105px;
        text-decoration: none;
    }
    .portafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 30px;
        color: $color-fondo;
        background: $color-primario;
        padding: 130px 115px 130px 115px;
        text-decoration: none;
    }

    .seccion-2{
        display: flex;
        flex-direction: row;
        height: 750px;
        gap: 0px;
    
    }
    .sm{
        font-family: 'variacion', verdana, sans-serif;
        font-style: inherit;
        font-size: 24px;
        margin-top: 50px;
        margin-left: 35px;
        color: $color-fondo;
    }
    .texto-sm{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 18px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 16px;
        margin-bottom: 50px;
        color: $color-fondo;
    }
    .footer{
        margin-top: 20px;
        margin-bottom: 50px;
        color: #1B455D;
        text-decoration: none;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0px;
        padding-top: 15px;
        text-decoration: none;
    }
    
    .box-contacto{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
        margin-right: 0%;
    }
    
    .email{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        line-height: 0%;
    }
    .box-servicios{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
        margin-right: 0%;
    }
    .enlaces-servicios{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    .box-redes-sociales{
        font-family: 'variacion', verdana, sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .enlaces-redes-sociales{
        display: flex;
        flex-direction: column;
        font-family: 'variacion', verdana, sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
}

/* diseño responsive */
@media screen and (min-width:1024px){
    .estilo-links{
        display: flex;
        flex-wrap: nowrap;   
        flex-direction: row;
        align-items: center;
    }
    .header{
        display: none;
    }
}
